<ng-container *ngIf="errorMsg">
  {{ errorMsg }}
</ng-container>

<mat-form-field>
  <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto"
         [formControl]="airportsFormControl">

  <button mat-button *ngIf="airportsFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="onTextRemoved()">
    <mat-icon>Remove</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="this.onOptionSelected()" [displayWith]="displayFn">
    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>

    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let airport of filteredAirports" [value]="airport">
        <span><strong>{{ airport.code }}</strong> {{ airport.name }}</span>
      </mat-option>
    </ng-container>

  </mat-autocomplete>

</mat-form-field>
